.auth-page .auth-header-box {
    background-color: #000000 !important;
}

.btn-danger {
    color: #fff;
    background-color: #230134 !important;
    border-color: #000 !important;
}

body.dark-sidebar .left-sidebar .menu-body .nav-item .nav-link.active {
    color: #ffffff;
}

body.dark-sidebar .left-sidebar {
    background-color: #230134;
}

body.dark-sidebar .left-sidebar .menu-body .nav-item .nav-link .menu-icon {
    color: #ffffff;
}

body.dark-sidebar .left-sidebar .menu-body .nav-item .nav-link {
    color: #f7c3ba;
}

body.dark-sidebar .left-sidebar .brand {
    background-color: #000000;
    border-bottom: 1px solid #131d35;
}

.logo-sm {
    height: 50px !important;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.table-bordered {
    border: 1px solid #bcbad9;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #bcbad9;
}


.flex-container {
    display: flex;
    height: auto;
    
    margin: 0;
    padding: 0;
  }

  .input-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  #sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    /* border: 1px solid rgb(0, 157, 255); */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #content {
    flex: 1;
    padding: 20px;
  }

  #options ul {
    list-style-type: none;
    padding: 0;
    color: white;
  }

  #options li {
    margin-bottom: 10px;
    border-bottom: #9f9d9d solid;
    padding: 5px;
  }

  a{
    color: black;
  }
  

  #bio-data {
    padding: 20px;
    background-color: #f7f4f4;
    /* border: 1px solid rgb(0, 157, 255); */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #dynamic-content {
    padding: 20px;
    width: 90%;
    background-color: #f9f9f9;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }


  
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  button {
    align-self: flex-end;
    background-color: black; 
    color: white;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* dynamic forms*/
  .form-container, .hobby-form-container, .education-form-container, .employment-form-container{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .form-container:last-child, .hobby-form-container:last-child, .education-form-container:last-child, .employment-form-container:last-child {
    margin-bottom: 0;
  }
  
  .form-container label, .hobby-form-container label, .education-form-container label, .employment-form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-container input[type="text"],.hobby-form-container input[type="text"],.employment-form-container input[type="text"],.employment-form-container input[type="number"],.education-form-container input[type="text"],.education-form-container input[type="number"],
  .form-container select, .hobby-form-container select , .education-form-container select, .employment-form-container select{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .form-container select, .hobby-form-container select, .education-form-container select, .employment-form-container select{
    height: 36px;
  }
  
  .add-remove-buttons {
    text-align: right;
    margin-top: 10px;
  }
  
  .add-remove-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-remove-buttons button.remove {
    background-color: #f44336;
  }